/* Elemento temporário para simular componentes */
/* div.component{
    background-color: var(--white-700);
    width: 100%;
    padding: 10px 20px;
    
    font: var(--text-light);
    text-align: left;
    
    border-radius: 5px;
} */

.componentTitle{
    color: var(--black-500);
    font: var(--text-medium);
    text-align: start;
}

.leaflet-container{
    background-color: transparent;
}

/* Elemento que engloba todos os demais  */
#statisticsPage{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

    /* Área de Input */
    section#inputArea{
        display: grid;
        grid-template-columns: 4fr 2fr;
        gap: 20px;
    }

        section#inputArea > div{
            justify-items: start;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

            .periodInputs{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
            }

            /* Opções de Input (botões e checkbox) */
            .inputOptions{
                display: flex;
                gap: 10px;
            }

                /* Botões SH4 e SH6 */
                .inputOptions > input[type="radio"]{
                    display: none;
                }

                .inputOptions > label{
                    background-color: var(--white-700);
                    padding: 5px 20px;
                    
                    color: var(--black-500);
                    font: var(--text-light);

                    border: none;
                    border-radius: 7px;

                    transition: all 200ms ease-out;
                    user-select: none;
                }

                    .inputOptions > label:hover{
                        font-weight: 500;
                        cursor: pointer;
                        transform: scale(1.05);
                    }

                    .inputOptions > input[type="radio"]:checked + label{
                        background-color: var(--base-pink);
                        
                        color: var(--white-500);
                        font-weight: 500;
                    }


    /* Dados iniciais */
    section#primaryInfos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

        /* Mapa do brasil */
        section#primaryInfos .navMap{
            width: 100%;
            height: 100%;
        }

    
    /* Dados de Exportação / Importação */
    section#ExpImpInfos{
        padding: 10px 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
