/* Elemento temporário para simular componentes */
/* div.component{
    background-color: var(--white-700);
    width: 100%;
    padding: 0.625rem 1.25rem;
    
    font: var(--text-light);
    text-align: left;
    
    border-radius: 0.313rem;
} */

.componentTitle {
    color: var(--black-500);
    font: var(--text-medium);
    text-align: start;
}

.leaflet-container {
    background-color: transparent;
}

/* Elemento que engloba todos os demais  */
#statisticsPage {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/* Área de Input */
section#inputArea {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 1.25rem;
}

section#inputArea>div {
    justify-items: start;
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
}

.periodInputs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
}

/* Opções de Input (botões e checkbox) */
.inputOptions {
    display: flex;
    gap: 0.625rem;
}

/* Botões SH4 e SH6 */
.inputOptions>input[type="radio"] {
    display: none;
}

.inputOptions>label {
    background-color: var(--white-700);
    padding: 0.313rem 1.25rem;

    color: var(--black-500);
    font: var(--text-light);

    border: none;
    border-radius: 0.438rem;

    transition: all 200ms ease-out;
    user-select: none;
}

.inputOptions>label:hover {
    font-weight: 500;
    cursor: pointer;
    transform: scale(1.05);
}

.inputOptions>input[type="radio"]:checked+label {
    background-color: var(--base-pink);

    color: var(--white-500);
    font-weight: 500;
}


/* Dados iniciais */
section#primaryInfos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

/* Mapa do brasil */
section#primaryInfos .navMap {
    width: 100%;
    height: 100%;
}


/* Dados de Exportação / Importação */
section#ExpImpInfos {
    padding: 0.625rem 1.563em;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}



    /* COMPARAÇÃO REGIONAL */
    section#regionalCompArea{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* TEXTO */
    section#regionalCompArea .textContent{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

        /* Título */
        section#regionalCompArea .title{
            color: var(--black-500);
            font: var(--text-large);
            font-weight: 600;
        }

        /* Texto */
        section#regionalCompArea p.text{
            color: var(--black-500);
            font: var(--text-light);
        }

            /* Texto Destaque */
            section#regionalCompArea p.text span.highlightText{
                color: var(--base-pink);
                font-weight:600;
            }


        /* BOTÕES */
        section#chartSelectArea{
            min-height: 320px;

            grid-template-rows: 1fr;
        }
        
            section#chartSelectArea > div{
                gap: 10px !important;
            }
        
            section#chartSelectArea p.text{
                color: var(--black-500);
                font: var(--text-light);
                line-height: 20px;
            }

                /* Inputs radio */
                section#chartSelectArea input[type=radio]{
                    display: none;
                }

                    section#chartSelectArea input[type=radio]:checked + label.chartTypeOption{
                        background-color: var(--white-300);
                        transform: scale(1.02);
                    }

                /* Labels Inputs */
                section#chartSelectArea label.chartTypeOption{
                    background-color: var(--white-700);
                    padding: 12px 22px;

                    font: var(--text-light);

                    display: flex;
                    align-items: center;
                    gap: 10px;

                    border: none;
                    border-radius: 5px;

                    transition: 100ms ease-out;
                    cursor: pointer;
                    user-select: none;
                }

                    section#chartSelectArea label.chartTypeOption:hover{
                        transform: scale(1.01);
                    }

                    section#chartSelectArea label.chartTypeOption .label{
                        color: var(--black-500);
                    }

                    section#chartSelectArea label.chartTypeOption .icon{
                        color: var(--base-pink);
                        font: var(--text-medium);
                    }


    
        /* Redirecionamento para a página de comparação */
        section#regionalCompArea p.redirectText {
            color: var(--black-500);
            font: var(--text-light);

        }
        
            section#regionalCompArea p.redirectText a.link{
                color: var(--base-pink);
                font-weight: 600;
                transition: 200ms;
            }
            
                section#regionalCompArea p.redirectText a.link:hover{
                    filter: saturate(2);
                }