/* Elemento temporário para simular componentes */
/* div.component{
    background-color: var(--white-700);
    width: 100%;
    padding: 0.625rem 1.25rem;
    
    font: var(--text-light);
    text-align: left;
    
    border-radius: 0.313rem;
} */

.componentTitle {
    color: var(--black-500);
    font: var(--text-medium);
    text-align: start;
}

.leaflet-container {
    background-color: transparent;
}

/* Elemento que engloba todos os demais  */
#statisticsPage {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/* Área de Input */
section#inputArea {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 1.25rem;
}

section#inputArea>div {
    justify-items: start;
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
}

.periodInputs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
}

/* Opções de Input (botões e checkbox) */
.inputOptions {
    display: flex;
    gap: 0.625rem;
}

/* Botões SH4 e SH6 */
.inputOptions>input[type="radio"] {
    display: none;
}

.inputOptions>label {
    background-color: var(--white-700);
    padding: 0.313rem 1.25rem;

    color: var(--black-500);
    font: var(--text-light);

    border: none;
    border-radius: 0.438rem;

    transition: all 200ms ease-out;
    user-select: none;
}

.inputOptions>label:hover {
    font-weight: 500;
    cursor: pointer;
    transform: scale(1.05);
}

.inputOptions>input[type="radio"]:checked+label {
    background-color: var(--base-pink);

    color: var(--white-500);
    font-weight: 500;
}


/* Dados iniciais */
section#primaryInfos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

/* Mapa do brasil */
section#primaryInfos .navMap {
    width: 100%;
    height: 100%;
}


/* Dados de Exportação / Importação */
section#ExpImpInfos {
    padding: 0.625rem 1.563em;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

    section#regionalCompArea{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    section#regionalCompArea .textContent{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

        section#regionalCompArea .title{
            color: var(--black-500);
            font: var(--title-regular);
            font-weight: 600;
        }

        section#regionalCompArea p.text{
            color: var(--black-500);
            font: var(--text-medium);
        }

            section#regionalCompArea p.text span.highlightText{
                color: var(--base-pink);
                font: var(--text-medium);
                font-weight: 600;
                text-decoration: underline;
            }



        section#regionalCompArea p.redirectText {
            color: var(--black-500);
            font: var(--text-light);
        }
        
            section#regionalCompArea p.redirectText a.link{
                color: var(--base-pink);
                font-weight: 600;
            }


    
        section#chartSelectArea{
            min-height: 350px;
            margin-top: 30px;

            grid-template-rows: 1fr;

            display: flex;
        }
        
            section#chartSelectArea p.text{
                margin-bottom: 10px;

                color: var(--black-500);
                font: var(--text-medium);
                line-height: 20px;
            }

            section#chartSelectArea .chartTypeOption{
                background-color: var(--white-700);
                padding: 13px 30px;

                display: flex;
                align-items: center;
                gap: 10px;

                border: none;
                border-radius: 5px;

                cursor: pointer;
            }

                section#chartSelectArea .chartTypeOption:hover{
                    transform: scale(1.01);
                }

                section#chartSelectArea .chartTypeOption .label{
                    color: var(--black-500);
                    font: var(--text-light);
                }

                section#chartSelectArea .chartTypeOption .icon{
                    color: var(--base-pink);
                    font: var(--text-medium);
                }