label{
    width: 100%;

    color: var(--black-500);

    cursor: text;
}

p{
    font: var(--text-medium);
    font-weight: 600;
    text-align: left; 
    text-indent: 5px;
}

input {
    background-color: var(--white-700);
    width: 100%;
    padding: 10px 20px;

    font: var(--text-light);

    border: none;
    border-radius: 5px;

    transition: all 150ms ease-out;
}

input:focus{
    outline: 1px solid var(--black-300);
}
