/* Estilização que poderá se repetir em diversas páginas ficarão aqui */
*{
    box-sizing: border-box;
  }
  
  body{
    background-color: var(--white-500);
    min-height: 100vh;
  }
  
  #root {
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  

/* -- PAGINAS DE DADOS -- */

  /* Engloba componentes de exibição de dados */
  div.componentWrapper{
    background-color: var(--white-300);
    width: 100%;
    height: 100%;
    padding: 0.625rem 0.625rem 0.313rem 0.313rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    border: 0.188rem solid var(--white-700);
    border-radius: 0.625rem;
  }
  








/* -- LAYOUTS -- */

    /* Tempalte Reutilizável de Grid Vertical */
    section.infoGridVertical{
        display: grid;
        grid-template-rows: 1fr max-content;
        gap: 0.813rem;
    }

        /* Item 1 do grid */
        section.infoGridVertical section.topArea{
            height: 100%;
        }

        /* Item 2 do grid */
        section.infoGridVertical section.midArea{
            height: 100%;
        }

        /* Item 3 do grid (recebe 2 elementos filho) */
        section.infoGridVertical section.bottomArea{
            width: 100%;
            height: 100%;

            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            gap: 0.438rem;
        }

    /* Tempalte Reutilizável de Grid Horizontal */
    section.infoGridHorizontal{
        height: 100%;

        display: grid;
        grid-template-columns: 5fr 3fr;
        gap: 1.25rem;
    }

        /* Para corrigir o problema de alguns gráficos de linha ficando muito pequenos */
        section.infoGridHorizontal.lineChartsArea{
            min-height: 450px;
        }
            
            /* Diminuindo o padding para resolver o problema dito acima */
            section.infoGridHorizontal.lineChartsArea .componentWrapper{
                padding: 0rem .8rem .5rem 0rem;
            }

        /* Item 1 do grid */
        section.infoGridHorizontal section.leftArea{
            height: 100%;
        }
        
        /* Item 2 do grid (recebe 2 elementos filho) */
        section.infoGridHorizontal section.rightArea{
            height: 100%;

            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 0.625rem
        }

    div.gridItem{
        width: 100%;
        max-width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 0.313rem;
    }