/* Elemento temporário para simular componentes */
/* div.component{
    background-color: var(--white-700);
    width: 100%;
    padding: 0.625rem 1.25rem;
    
    font: var(--text-light);
    text-align: left;
    
    border-radius: 0.313rem;
} */

.componentTitle {
    color: var(--black-500);
    font: var(--text-medium);
    text-align: start;
}

.leaflet-container {
    background-color: transparent;
}

/* Elemento que engloba todos os demais  */
#statisticsPage {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/* Área de Input */
section#inputArea {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

section#inputArea > div{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 1.25rem;
}

/* Área dos Labels */
div.labelsContainer{

}

div.labelsContainer > *{
    width: 100%;

    color: var(--black-500);
    font: var(--text-medium);
    font-weight: 600;
    text-align: left;
    text-indent: 0.313rem;
}

/* Área dos Inputs */
div.inputsContainer{
}

.periodInputs{
    display: flex;
    gap: 10px;
}

.periodInputs > div{
    flex: 1 1 50%;
}


/* Área das Opções de Input (botões e checkbox) */
div.optionsContainer{
    margin-top: 5px;
}

/* Botões SH4 e SH6 */
.productOptions{
    display: flex;
    gap: 7px;
}

.productOptions>input[type="radio"] {
    display: none;
}

.productOptions>label {
    background-color: var(--white-700);
    padding: 0.313rem 1.25rem;

    color: var(--black-500);
    font: var(--text-light);

    border: none;
    border-radius: 0.438rem;

    transition: all 200ms ease-out;
    user-select: none;
}

.productOptions>label:hover {
    font-weight: 500;
    cursor: pointer;
    transform: scale(1.05);
}

.productOptions>input[type="radio"]:checked+label {
    background-color: var(--base-pink);

    color: var(--white-500);
    font-weight: 500;
}



/* Dados iniciais */
section#primaryInfos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

/* Mapa do brasil */
section#primaryInfos .navMap {
    width: 100%;
    height: 100%;
}

    /* Legenda do mapa do brasil */
    .navMap .mapCurrentState{
        margin-top: 0.875rem;
        color: var(--black-500);
        font: var(--title-regular);
        text-align: center;
    }

    .navMap .mapDescription {
        color: var(--black-500);
        font: var(--text-medium);
        text-align: center;
    }

/* Dados de Exportação / Importação */
section#ExpImpInfos {
    padding: 0.625rem 1.563em;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

section#mainInfosArea{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section#mainInfosArea .stateTitle{
    color: var(--base-pink);
    font: var(--title-regular);
    font-weight: 600;
}