.container{
    padding-left: 0.625rem;

    display: flex;
    align-items: center;
    gap: 0.625rem;
}



.textLight > *{
    font: var(--text-light);
}

.textMedium > *{
    font: var(--text-medium);
}

.textLarge > *{
    font: var(--text-large);
}

.titleRegular > *{
    font: var(--title-regular);
}

.titleMedium > *{
    font: var(--title-medium);
}

.titleLarge > *{
    font: var(--title-large);
}



.icon{
    color: var(--base-pink);
}

.title{
    color: var(--black-500);
}