.card{
    background-color: var(--white-300);
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 7px;

    border: 3px solid var(--white-700);
    border-radius: 10px;
}

.colorArea{
    background-color: currentColor;

    border-radius: 5px;
    aspect-ratio: 1/1;
}

.contentArea{
    min-height: fit-content;
}

    .title{
        margin-bottom: -3px;
        color: currentColor;
        font: var(--text-medium);
        font-weight: 600;
    }

    .text{
        width: 100%;
        color: var(--black-500);
        font: var(--label-medium);
        line-height: 15px;
        word-spacing: -1px;
    }

    span.highlightText{
        color: currentColor;
        font-weight: 600;
        text-decoration: underline;
    }