*{
  box-sizing: border-box;
}

body{
  background-color: var(--white-500);
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.map-current-state{
  font: var(--text-large);
  color: var(--black-500);
}

.map-description {

  font: var(--text-medium);
  color: var(--black-500);
}

.leaflet-container {
  background: transparent !important;
}
.leaflet-bottom{
  display: none;
}






.map-info h2 {
  margin: 0;
  font-size: 2em;
  color: #333;
}

.map-title {
  margin: 0;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}



.map-subtitle {
  color: #666;
  margin-bottom: 1rem;
  text-align: center;
}
