h1.titleMedium { 
    color: var(--black-500); 
    font: var(--title-medium); 
} 

h1.titleRegular {
    color: var(--black-500); 
    font: var(--title-regular); 
}

p.textMedium  { 
    color: var(--black-500); 
    font: var(--text-medium); 
} 

p.labelMedium  { 
    color: var(--black-500); 
    font: var(--label-medium); 
} 

.redirectArea{
    display: flex;
}

.contentArea{
    padding: 50px;
}

img.header{
    width: calc(100% + 70px);
    margin: -35px;
    margin-bottom: 0px;
}

img.example{
    max-width: 400px;
}